@model LibraryDetailsViewModel

@{
    Layout = "_MainLayout";
}

<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Book list
            </div>
            <div class="panel-body">
                <div class="list-group">
                    @foreach(var book in Model.Books)
                    {
                        <div class="list-group-item">
                            <span class="pull-right text-muted">Dodana przez: @book.AddedBy</span>
                            <a asp-controller="Book" asp-action="GetBook" asp-route-bookId="@book.Id"><h4>@book.Title</h4></a>
                            
                            @book.Author
                            
                        </div>
                    }
                    @if(Model.Books.Count() == 0)
                    {
                        @: You haven't any books.
                    }
                </div>
                <a class="btn btn-default btn-block" asp-controller="Book" asp-action="CreateBook" asp-route-libraryId="@Model.Id">Create book</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Invited users
            </div>
            <div class="panel-body">
                <div class="list-group">
                    @foreach(var user in Model.Users)
                    {
                        <div class="list-group-item">@user.UserName</div>
                    }
                    @if(Model.Users.Count() == 0)
                    {
                        @: You didn't invite any user.
                    }
                </div>
                @if(Model.Owned)
                {
                    <a class="btn btn-default btn-block" asp-controller="Library" asp-action="InviteUser">Invite user</a>
                }
            </div>
        </div>
    </div>
</div>

