@model LibraryViewModel

@{
    ViewData["Title"] = "My library";
    Layout = "_MainLayout";
}


<div class="row">
    <div class="col-lg-12">
    <h1 class="page-header">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Book list
            </div>
            <div class="panel-body">
                <div class="list-group">
                    @foreach(var book in Model.Books)
                    {
                        <div class="list-group-item">
                            <span class="pull-right text-muted">Dodana przez: @book.AddedBy</span>
                            <h4>@book.Title</h4>
                            
                            @book.Author
                            
                        </div>
                    }
                    @if(Model.Books.Count() == 0)
                    {
                        @: You haven't any books.
                    }
                </div>
                <a class="btn btn-default btn-block" asp-controller="Library" asp-action="CreateBook">Create book</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Invited users
            </div>
            <div class="panel-body">
                <div class="list-group">
                    @foreach(var user in Model.Users)
                    {
                        <div class="list-group-item">@user.UserName</div>
                    }
                    @if(Model.Users.Count() == 0)
                    {
                        @: You didn't invite any user.
                    }
                </div>
                <a class="btn btn-default btn-block" asp-controller="Library" asp-action="InviteUser">Invite user</a>
            </div>
        </div>
    </div>
</div>

